footer {
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px #cccccc;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    position: fixed;
}
